# dependencies
/node_modules

# next.js
/.next/

#
.eslintrc.json
.env
.env.local
.vscode
clean/

# production
/build

# assets
/public

# drafts
.drafts_REDACT/
data/fetchProjects.js
ui/shader-park/